html {
  line-height: 1.2;
  -ms-text-size-adjust: 80%;
  -webkit-text-size-adjust: 80%;
}

body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  background-color: $background-color;
  margin: 0;
}

header,
footer {
  display: block;
  color: $text-light;
  
  span {
    color: $text-light;
  }
}

body > header {
  background-color: $background-color-secondary;
  height: $header-height;
}

body > footer {
  background-color: black;
  height: 5ex;
}

a {
  color: $text-light;
  text-decoration: none;
  cursor: pointer;
}

strong {
  color: $text-bright;
  font-weight: $heavy-font-weight;
}

h1, ul {
  margin: 0;
}

h2 {
  text-align: center;
  margin: 5px 0 15px;
}

h3 {
  margin: 15px 0 10px 5px;
}

ul {
  list-style-type: none;
}

hr {
  border: 1px ridge $background-color-secondary;
  width: 80%;
}

@media screen and (min-width: $width-mobile) {
  font-size: 12pt;
}
