$base-font-family: "Roboto", sans-serif;
$light-font-weight: 300;
$base-font-weight: 400;
$heavy-font-weight: 500;

$font-size-mobile: 12pt;
$font-size-desktop: 16pt;

$width-mobile: 640px;
$width-desktop: 1024px;

$brand-primary: #F12B8E;
$brand-secondary: #ECF641;
$background-color: #111;
$background-color-secondary: #242424;
$text-bright: #F0F0F0;
$text-light: #CCCCCC;
$text-dark: #555;

$header-height: 80px;
$item-height: 400px;
$margin-default: 5px;
